<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting name="gamePanelWidth">800</setting>
    <setting name="gamePanelHeight">600</setting>
    <setting name="defaultMapView" width="20" height="15"/>
    <setting name="visionRadius">5</setting>
    <setting name="mapSize" width="40" height="40"/>
</settings>
